# Carpetas y archivos a excluir de la imagen
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# virtualenv local
venv/
.venv/

# Git y editores
.git/
.gitignore
.idea/
.vscode/

# Archivos de entorno (no copies secretos a la imagen)
.env
env.d/

# Tests y otros artefactos
tests/
dist/
build/
coverage/
